body {
    background-color: black;
}

h1{
    color: white;
}

p{
    background-color: gray;
    color: white;
    font-size: 20px;
}

#best_p {
    font-size: 30px;
    background-color: aquamarine;
    color: black;
}

.nice_p {
    color: black;
    background-color: white;
}